<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block head_content %}VecindApp - Login{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>

    {% block footer %}
      <!-- Footer -->
      <footer class="page-footer font-small pt-4 blue">
        {% if user.is_authenticated %}

        <div class="container">
            <p>you are logged in as - {{ user.get_full_name }}</p>
            {% if not request.path == '/' %}<a href="{% url 'home' %}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Go Home</a>{% endif%}
            <a href="{% url 'user:update' %}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">User Update</a>
            <a href="{% url 'user:logout' %}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Sign Out</a>
        </div>
        {% endif %}
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://www.djangoproject.com/"> Powered by Django 2.0</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    {% endblock%}
  </body>
</html>