{% extends "base.html" %}

{% block head_content %}
    CFR sign in
{% endblock%}

{% block content %}

    {% if form.errors %}
        <p class="alert alert-danger">
            Your email and password didn't match. Please try again.
        </p>
    {% endif%}

    <form method="POST" action="{% url 'user:login' %}">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" placeholder="email" name="username" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" />
        </div>


        <button class="btn btn-primary btn-block mt-5" type="submit">Sign in!</button>

    </form>

    <p class="mt-4">Don't have an account yet? <a href="{% url 'user:signup' %}">Sign up here.</a></p>

{% endblock %}