{% extends "base.html" %}

{% block head_content %}
CFR sign up
{% endblock %}

{% block content %}

    <form action="{% url 'user:signup' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary btn-block mt-5" type="submit">Register!</button>

    </form>

{% endblock %}