{% extends "base.html" %}
{% load static %}

{% block head_content %}
Update profile
{% endblock %}

{% block content %}

<div class="container">
    <p>Email: {{ object.email }}</p>
    <form action="{% url 'user:update' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
    </form>
     
</div>

{% endblock %}