{% extends 'base.html' %}
{% block head_content %}CFR - Bulletin Create!{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'payment:add' bill_slug %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-block mt-5" type="submit">Crear</button>
    </form>
</div>
{% endblock %}