{% extends 'base.html' %}
{% block head_content %}CFR - Payment Delete!{% endblock %}

{% block content %}
    <form action="{% url 'payment:del' payment.slug %}" method="POST">
        {% csrf_token %}
        Are you sure you want to delete payment "{{ payment.slug }}"?
        <input type="submit" value="Yes" />
        <input type="button" value="Go back!" onclick="history.back()">
        
    </form>
{% endblock %}