{% extends 'base.html' %}
{% block head_content %}CFR - Bill Update!{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'payment:edit' payment.slug %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-block mt-5" type="submit">Update</button>
    </form>
</div>
{% endblock %}