{% extends 'base.html' %}
{% load tz %}

{% block head_content %}CFR - Bill Detail!{% endblock %}

{% block content %}
    <h1>
        Title: {{ bill.title }} 
    </h1>

    {% comment "Current Time Zone Validation"%}
    {% get_current_timezone as TIME_ZONE %}
        <p>{{ TIME_ZONE }}</p>
    {% endcomment %}

    <p>Active: {{ bill.is_active }} | Automated: {{ bill.is_automated }} </p>
    <p>Created - {{ bill.created|date:"Y-m-d \a\t H:i" }} Last Time Modified - {{ bill.modified|date:"Y-m-d \a\t H:i" }}</p>


    <h5>Max Due Day: {{ bill.max_due_day }}</h5>
    <h5>Grace Days: {{ bill.grace_days }}</h5>
    {% if bill.is_automated %}
        <h5>Min Amount: {{ bill.min_payment_amount }}</h5>
    {% endif %}
    <!-- Fixed Section -->
    {% if bill.fixed %}
        {% localtime on %}
        <h5>Debt Start: {{ bill.fixed.debt_start_date }}<h5>
        {% endlocaltime %}

        <h5>Total Amount: {{ bill.fixed.total_amount }}<h5>
        <h5>Min Amount: {{ bill.min_payment_amount }}</h5>
        <h5>Instalments: {{ bill.fixed.instalments }}</h5>    
    {% endif %}
    {%if bill.description%}
        <h5>Description: {{ bill.description }}</h5>
    {% endif %}
    <br>
    <br>
    <p><b>Toal paid:</b> {{amount__sum}}
        <b>Average:</b> {{amount__avg}}
    </p>
    <h2>PAGOS</h2>
    <a href="{% url 'payment:add' bill_slug=bill.slug %}">Agregar Pago</a>
    <br>
    {% for payment in payments %}
        <p>
            <b>ID:</b> {{payment.slug}} - 
            <b>Amount Paid:</b> {{payment.amount}} - 
            <b>Due Date:</b> {{payment.max_payment_date}} 
            | <a href="{% url 'payment:edit' payment.slug %}">Editar Pago</a>
            | <a href="{% url 'payment:del' payment.slug %}">Eliminar Pago</a>
        </p> 
    {% empty %}
        <p>
            No payments yet done.
        </p>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if payments.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ payments.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ payments.number }} of {{ payments.paginator.num_pages }}.
            </span>
            {% if payments.has_next %}
                <a href="?page={{ payments.next_page_number }}">next</a>
                <a href="?page={{ payments.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}