{% extends 'base.html' %}
{% block head_content %}CFR - Bulletin Create!{% endblock %}

{% block content %}
{% if form.errors %}
<!-- Error messaging -->
<div id="errors">
    <div class="alert alert-danger">
        <p>There were some errors in the information you entered. Please correct the following:</p>
        {{ form.non_field_errors }}
        <ul>
            {% for field in form %}
                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /Error messaging -->
{% endif%}
<div class="container">
    {% if not 'service' in request.path %}
    <form action="{% url 'bill:create-bill' %}" method="POST">
    {% else %}
    <form action="{% url 'bill:create-service-bill' %}" method="POST">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-block mt-5" type="submit">Crear</button>
    </form>
</div>
{% endblock %}