{% extends 'base.html' %}
{% block head_content %}CFR - Bill Update!{% endblock %}

{% block content %}
{% if form.errors %}
<!-- Error messaging -->
<div id="errors">
    <div class="alert alert-danger">
        <p>There were some errors in the information you entered. Please correct the following:</p>
        {% for err in form.non_field_errors %}
        {{ err }}
         {% endfor %}
        <ul>
            {% for field in form %}
                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /Error messaging -->
{% endif %}
<div class="container">
    <form action="{% url 'bill:edit' bill.slug %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-block mt-5" type="submit">Update</button>
    </form>
</div>
{% endblock %}