{% extends 'base.html' %}
{% block head_content %}CFR - Bill Delete!{% endblock %}

{% block content %}
    <form action="{% url 'bill:delete' bill.slug %}" method="POST">
        {% csrf_token %}
        Are you sure you want to delete "{{ object.title }}" bill?
        <input type="submit" value="Yes" />
        <input type="button" value="Go back!" onclick="history.back()">
        
    </form>
{% endblock %}