{% extends 'base.html' %}
{% block head_content %}CFR - Bill List!{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Bills</h2>
    <p>
        <a href="{% url 'bill:create-bill' %}">Add Bill</a> |
        <a href="{% url 'bill:create-service-bill' %}">Add Service Bill</a> 
    </p>
    <ul>
    {% for bill in bills %}
        {% if bill.is_active %}
            <li>
                <p>{{ bill.title }}</p>
                <p>
                    <a href="{% url 'bill:detail' bill.slug %}">Detail</a>
                    | <a href="{% url 'bill:edit' bill.slug %}">Edit</a>
                    | <a href="{% url 'bill:delete' bill.slug %}">Delete</a>
                    {% if bill.fixed %}
                        <h5>FACTURA</h5>
                    {% else %}
                        <h5>SERVICE</h5>
                    {% endif %}
                </p>
            </li>
        {% endif %}
    {% empty %}
        <h5>No Bills have been added</h5>
    {% endfor %}
    </ul>
    
</div>
{% endblock %}